<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourseasons.hotel.mapper.AdminMapper">
    <sql id="table">`t_admin`</sql>

    <resultMap id="adminMap" type="AdminVo">
        <id property="adminId" column="admin_id" />
        <result property="adminName" column="admin_name" />
        <result property="adminPassword" column="admin_password" />
        <result property="adminLastLogin" column="admin_last_login" />
        <result property="adminCreateTime" column="admin_create_time" />
        <result property="adminStatus" column="admin_status" />
    </resultMap>

    <resultMap id="adminMapVo" type="AdminVo">
        <id property="adminId" column="admin_id" />
        <result property="adminPassword" column="admin_password" />
        <result property="adminLastLogin" column="admin_last_login" />
    </resultMap>
    <select id="findAdminByName" resultMap="adminMapVo">
        SELECT `admin_id`,`admin_password`,`admin_last_login` FROM <include refid="table" /> WHERE `admin_name` = #{name} AND `admin_status` = ${status}
    </select>

    <update id="updateLoginTimeById">
        UPDATE <include refid="table" /> SET `admin_last_login` = #{time} WHERE `admin_id` = #{aid}
    </update>

    <insert id="insertAdmin">
        INSERT INTO <include refid="table" /> (`admin_name`,`admin_password`) VALUES (#{admin.adminName},#{admin.adminPassword})
    </insert>
</mapper>